@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300&family=Mali:ital,wght@0,200;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');

:root {
  --fontTitle: 'Mali', cursive;
  --fontText: 'Lexend', sans-serif;
  --defaultFontColor: #250000;
  --secondaryFontColor: #E3D6C5; 
  --selectColor: #314220;
}

/* RESET ///////////////////////// */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100px;
  height: auto;
}

figure {
  margin: 0;
}

/* //////////////////////////// */

/* HEADER */

html {
  background-color: #D3C3AF;
}

* {
  color: var(--defaultFontColor);
  font-family: var(--fontText);
}

header {
  display: flex;
  background-color: #486230;
  height: 50px;
  width: 100vw;
  padding: 15px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.logotipo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Over the Rainbow', cursive;
  font-size: 1em;
}

.logotipo img{
  display: flex;
  width: 35px;
  height: 35px;
  margin: 0;
  margin-right: 10px;
}

#navDesktop {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
}

li {
  margin: 0 10px;
}

a {
  color: var(--secondaryFontColor);
  text-decoration: none;
  padding: 10px;
  border-bottom: 2px solid transparent;
}

#navDesktop a:hover {
  color: var(--selectColor);
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

main {
  overflow-x: hidden;
}

h1 {
  /* font-family: 'Mali', cursive; */
  /* font-weight: bold; */
  font-size: 1.5rem;
}


/* INÍCIO */

#inicio {
  width: 100vw;
  height: 100vh;
  background-color: #9D9F54;
  display: flex;

  background-image: url("assets/inicio2.png");
  background-size: cover;
  background-position: 55%;
  background-repeat: no-repeat;
}


#inicio aside, #inicio article {
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inicio h2 {
  /* position: absolute;
  top: 40vh;
  left: 150px; */
  color: var(--defaultFontColor);
  text-align: center;
}

/* SOBRE */

#sobre {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

#sobre article, #sobre aside {
  width: 50%;
  height: 100%;
}

#sobre article {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  flex-direction: column;
}

#sobre figure {
  width: 100%;
  height: 100%;
  background-image: url('assets/sobre.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#sobre h1 {
  margin: 25px;
}

#sobre p {
  width: 75%;
}

@media screen and (max-width: 600px) {
  #sobre {
    flex-direction: column-reverse;
  }

  #sobre article, #sobre aside {
    height: 50%;
    width: 100%;
  } 

  #sobre article {
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }
}

/* LOCALIZAÇÃO  */

#localizacao {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #324321;
}

#localizacao article {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#localizacao aside {
  width: 40%;
  height: 100%;
}

#localizacao figure {
  width: 100%;
  height: 100%;
  background: url('assets/localizacao.png') no-repeat center;
  background-size: contain;
}

#localizacao p {
  margin-bottom: 25px;
  text-align: center;
  color: var(--secondaryFontColor);
}

#localizacao #map {
  width: 90%;
  height: 60%;
  background-color: #486230;
  border-radius: 12px;
  max-height: 320px;
}

@media screen and (max-width: 750px) {
  #localizacao {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  #localizacao article {
    height: 60%;
    width: 100%;
  } 

  #localizacao aside {
    height: 40%;
    width: 100%;
  } 
  
  #localizacao article {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #localizacao figure {
    background-size: contain;
  }
}

/* CONTATO */

footer {
  background-color: #A49F67;
  width: 100vw;
  height: 60vh;

  display: flex;

  flex-direction: column;
  align-items: center;

  background: url('assets/contato.png') no-repeat;
  background-size: cover;
  background-position: bottom;
}

footer article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h1 {
  margin: 10px;
  color: var(--secondaryFontColor);
}

footer p {
  margin-top: 25px;
  color: #324321;
  font-size: 1.5rem;
}

@media screen and (max-width: 850px) {
  footer p {
    font-size: 1.2rem;
    width: 60%;
    text-align: center;
  }

  footer figure {
    margin: 50px;
  }
}

#navMobile {
  display: none;
}

#navMobile ul {
  display: none;
  margin: 0;
  position: absolute;
  flex-direction: column;
  top: 35px;
  left: 35px;
  background-color: #324321;
}

#navMobile li {
  margin: 0;
  padding: 15px;
}

#navMobile li:active {
  background: #79753A;
  cursor: pointer;
}

#menu {
  height: 30px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu:active div {
  background-color: #9D9F54;
}

#menu div {
  margin-bottom: 5px;
  height: 5px;
  border-radius: 2px;
  width: 30px;
  background-color: var(--defaultFontColor);
}

/* MEDIA  */

@media screen and (max-width: 700px){

  #navMobile {
    display: flex;
    z-index: 1;
  }

  header .logotipo {
    position: absolute;
    right: 0;
    left: 0;
    top: 6px;
  }

  #navDesktop {
    display: none;
  }
}

