@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300&family=Mali:ital,wght@0,200;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');

:root {
  --fontTitle: 'Mali', cursive;
  --fontText: 'Lexend', sans-serif;
  --defaultFontColor: #250000;
  --secondaryFontColor: #E3D6C5; 
  --selectColor: #314220;
}

/* RESET ///////////////////////// */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100px;
  height: auto;
}

figure {
  margin: 0;
}

/* //////////////////////////// */

/* HEADER */

html {
  background-color: #D3C3AF;
}

* {
  color: var(--defaultFontColor);
  font-family: var(--fontText);
}

header {
  display: flex;
  background-color: #486230;
  height: 50px;
  width: 100vw;
  padding: 15px;
  position: fixed;
  z-index: 99;
}

#logotipo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Over the Rainbow', cursive;
  font-size: 10px;
}

#logotipo img{
  display: flex;
  width: 35px;
  height: 35px;
  margin: 0;
  margin-right: 10px;
}

nav {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
}

li {
  margin: 0 10px;
}

a {
  color: var(--secondaryFontColor);
  text-decoration: none;
  padding: 10px;
  border-bottom: 2px solid transparent;
}
a:hover {
  color: var(--selectColor);
}

html {
  scroll-behavior: smooth;
}

main {
  overflow-x: hidden;
}


/* INÍCIO */

#inicio {
  width: 100vw;
  height: 100vh;
}

#inicio figure {
  background: url("/assets/inicio2.png") no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#inicio h2 {
  position: absolute;
  top: 40vh;
  left: 150px;
  color: var(--defaultFontColor);
}

/* SOBRE */

#sobre {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#sobre h1 {
  margin-top: 100px;
  font-size: 32px;
}

#sobre article {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#sobre p {
  width: 30vw;
  font-size: 22px;
}

#sobre figure {
  background: url('assets/sobre.png') no-repeat center;
  background-size: cover;
  width: 30vw;
  height: 100vh;
}

/* LOCALIZAÇÃO  */

#localizacao {
  height: 100vh;
  width: 100vw;
  background-color: #324321;
}

#localizacao article {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#localizacao figure {
  width: 40vw;
  height: 100vh;
  background: url("/assets/localizacao.png") no-repeat center;
  background-size: cover;
}

#localizacao p {
  text-align: center;
  color: var(--secondaryFontColor);
  margin-bottom: 15px;
}

#localizacao aside {
  height: 100vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#localizacao map {
  width: 70%;
  height: 50%;
  background-color: #486230;
  border-radius: 12px;
}

/* CONTATO */

footer {
  background-color: #A49F67;
  width: 100vw;
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: url('assets/contato.png') no-repeat;
  background-size: cover;
  background-position: bottom;
}

footer h1 {
  margin: 10px;
  color: var(--secondaryFontColor);
}

footer p {
  color: var(--secondaryFontColor);
}

/* MEDIA  */

@media screen and (max-width: 700px){
  #logotipo h1 {
      display: none;
  }
}

